body {
  background-color: rgb(241, 226, 237) ;
  color: rgb(17, 17, 78) ;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table, th, td {
  border: 2px solid rgb(22, 22, 135);

}

div#omeio {
  text-align: center;
  color: rgb(21, 16, 86);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin-left: 40px;
  margin-right: 80px;
}

#sidenote {
  background-color: rgb(243, 157, 194) ;
}

#tituloscentro {
  text-align: center;
}
